@charset "utf-8";

/** 田会飞 **/
/**头部**/
ul{list-style:none;padding:0;margin:0;}
.p-0{padding:0 !important;}
.m-b-0{margin-bottom:0 !important;}
.m-t-10{margin-top:10px !important;}
.p-t-10{padding-top:10px !important;}
.w20{width:20%;}
.w50{width:50%;}
.w30{width:30%;}
.t-l{text-align: left !important;}
.table-h-center th{text-align: center !important;}

.navbar-brand{height: 90px;line-height:55px;}

.navbar-neusoo{background-color:#29355b;border-radius:0;color:#FFF;}
.navbar-neusoo.navbar-default .navbar-nav > li > a{color:#FFF;}
.navbar-neusoo.navbar-default .navbar-nav > li > a:hover{color:#60d2ed;}
.navbar-neusoo .navbar-neusoo-ul .active a{color:#60d2ed !important;background-color: transparent !important;}
.navbar-neusoo .navbar-toggle{margin-top:25px;}
@media (min-width: 768px){
    .nav-h-90{height:90px;line-height:55px !important;}
}

.navbar-neusoo .dropdown.open .dropdown-toggle{background-color: #10193a;}

.navbar-neusoo.navbar-default .navbar-nav > .open > a,
.navbar-neusoo.navbar-default .navbar-nav > .open > a:hover,
.navbar-neusoo.navbar-default .navbar-nav > .open > a:focus{background-color: #10193a;color:#00b3ee;}
@media (max-width: 767px) {
    .navbar-neusoo.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #dcdbdb;
    }
}
.navbar-neusoo .brand-logo{width:175px;background: url("../images/brand-logo.png") no-repeat center center;background-color:#e345a2;}
.ns-line-bottom{border-bottom:1px solid #EEE;padding:33px 10px 23px;margin-bottom:30px;}
.ns-line-bottom h4{color:#474747; }
.data-table-box{border:1px solid #d2d2d2;border-radius:5px 5px 0 0;}
.data-table-box .table-header{padding:33px 10px;background-color:#dee7ff;}
.data-table-ul{text-align: center;font-size: 0;}
.data-table-ul li{display:inline-block;text-align: center;font-size:12px;color:#666;padding:0 15px;}
.data-table-ul li span.soo span{/*margin-right: 11px;*/color:#666;padding-left:5px;}
.data-table-box .table{margin:0;}
.data-table-box span.soo-ok{color:#5be19c;}
.data-table-box span.soo-error{color:#e3456a;}
.data-table-box span.soo-circle{color:#f39800;}
.data-table-box .table thead th{color:#333;font-size: 12px;font-weight: normal;text-align: center}
.data-table-box tbody td{color:#666;text-align: center;}
.data-table-box .data-table-thead th{padding:26px 0;font-weight: bolder;font-size: 14px;}
.soo-ok.color-ok{color:#5be19c; }
.soo-error.color-error{color:#e3456a; }
.soo-circle.color-circle{color:#f39800; }
.data-scope-info{padding:23px 0;color:#666;}
.panel-heading.neu-tab{padding:0 !important;}
.neu-tab .neu-tab-box{background-color:#FFF;border-radius:4px;font-size:0;}
.neu-tab .neu-tab-box .neu-tab-li{padding:10px;display:inline-block;position:relative;}
.neu-tab .neu-tab-box .neu-tab-li{border-right:1px solid #EEE;}
.neu-tab .neu-tab-box .neu-tab-li a{color:#666;padding:10px 20px;display:block;font-size:14px;text-align: center;}

.neu-tab .neu-tab-box .neu-tab-li.active::after{display:block;content:" ";height:4px;position:absolute;left:0;right:0;bottom:0;background-color:#6b95ff;}
.neu-tab .neu-tab-box .neu-tab-li.active a{color:#6b95ff;}

/** 高级检索tab **/
.soo-tab-main { display:inline-block;min-width:66px;padding:7px 9px;margin:0 5px;margin-bottom:5px;cursor:pointer;border-radius:2px;color:#333;font-size:12px;background-color:#e8f4ff;text-align:center;}
.soo-tab-main.active{background-color:#6490ff;color:#FFF;}
.soo-tab-main.disable{cursor: auto;background-color: #f5f5f5;color:#6e6e6e;}



.settings-box{height: 794px;border:1px solid #e5e5e5;border-bottom:none;}
.settings-box .settings-header{width:100%;background-color: #f7f7f7;padding:25px 0;}
.settings-box .settings-header h5{font-size:12px;margin:0;color:#666;text-align: center;}
.settings-box .settings-body{height:731px;}
.list-box{}
.list-box .list-ul-box{}
.list-box .list-ul-box li{position: relative;padding:5px 15px;}
.list-box .list-ul-box .list-item{position: relative;padding:5px 15px;}
.list-box .list-ul-box .list-item a{color:#666;}
.list-box .list-ul-box .list-item>a:hover{background-color:#eee;}
.list-box .list-ul-box .list-item.active>a{background-color:#6490ff;color:#FFF;}

.list-box .list-ul-box .list-item.active>ul{display:block;}
.list-box .list-ul-box .list-item a{text-decoration: none;font-size:14px;position:relative;display:block;margin:-5px -15px;padding:5px 15px;}
.list-box .list-ul-box .list-item ul{display:none; margin-top: 5px;  margin-right: -15px;  margin-bottom: -5px;  margin-left: -15px;border: 0;}
.list-box .list-ul-box .list-item ul li{padding-left:30px;}
/** 田会飞 **/


/** 王小晴 **/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #474747;
    background-color: #dee7ff;
}
.nav-pills > li > a {
    border-radius: 0;
    color: #474747;
}
.circle_off{
    display: inline-block;
    border-radius: 50%;
    border:2px #6490ff solid;
    width: 10px;
    height: 10px;

    margin: 0 15px;
}
.circle_on{
    background-color: #6490ff;
}
/**概览**/
.view-top{
    padding-left: 15px;
}
.first-line input,.next-line input{
    background-color: #eeeeee;
    height: 45px;
    border-color: #eee;
    border: none;
}
.first-line button,.next-line button{
    color: white;
    background-color: #6490ff;
    border-color: #6490ff;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
}
.first-line button:hover,.next-line button:hover,.middle-btn-right button:hover{
    background-color: #6490ff;
    color: black;
}
.first-lable,.filter-lable{
    font-size: 12px;
    padding-right: 0;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.first-lable,.first-input,.first-btn,.next-btn1,.next-btn2,.next-btn3,.next-btn4,.next-input,.filter-lable,.filter-div,.filter-delete{
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.next-btn2 button{
    font-size: 12px;
}
.first-input{
    width: 700px;
}
.next-btn1 button{
    width: 60px;
}
.next-btn1{
    margin-left: 102px;
}
.first-line,.next-line,.filter-line{
    margin-bottom: 30px;
}
.first-btn,.next-btn2,.next-btn3,.next-btn4,.next-input{
    padding-left: 0;
}
.next-input{
    width: 475px;
}
.absolute-a{
    position: absolute;
    left: 15px;
    top: 45px;
    font-size: 11px;
    color: #7798ff;
    text-decoration: underline;
}
.next-btn2{
    position: relative;
}
.filter-div{
    border: 1px #eeeeee solid;
    height: 45px;
    width: 85%;
    line-height: 45px;
    margin-left: 15px;
}
.filter-delete{
    height: 45px;
    color: #666;
    line-height: 45px;
}
.tags{
    height: 26px;
    width: 80px;
    color: #7798ff;
    background-color: #e8f4ff;
    border-radius: 13px;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    position: relative;
    margin: auto 5px;
}
.delete-tag{
    position: absolute;
    left: 68px;
    top: -9px;
}
.stat span{
    color: #6490ff;
}
.stat{
    margin-top: -10px;
    margin-left: 30px;
    font-size: 12px;
}
.view-bottom{
    background-color: #f8f8f8;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.middle-btn-group{
    height: 95px;
}
.left-icon-group{
    display: inline-block;
    line-height: 95px;
    height: 95px;
    margin-left: 40px;
}
.left-icon-group span{
    color: #666;
    margin: auto 4px;
    font-size: 20px;
}
.left-icon-group span:hover{
    color: #6490ff;
}
.middle-check-group{
    display: inline-block;
    margin-left: 25px;
    line-height: 95px;
    height: 95px;
}
.middle-check-group>div{
    margin: auto 6px;
    display: inline-block;
}
.middle-btn-right>div{
    width: 124px;
    height: 35px;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
}
.middle-btn-right .bg-blue{
    background-color: #6490ff;
    border: none;
    color: #FFF;
}
.middle-btn-right{
    display: inline-block;
    line-height: 95px;
    height: 95px;
    float: right;
    padding-right: 25px;
}
.left-bottom-list{
   position: absolute;
    width: 265px;
    float: left;
    /*   height: 575px;
     border-radius: 3px;
     border: 1px #ccc solid;
     background-color: #fff;*/
}
.right-bottom-content{
    /*    display: inline-block;
        width: 68%;*/

    margin-left: 272px;

    height: auto;
    border: 1px solid #ddd;
    border-radius: 3px;

}
.bottom-content{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.square_off{
    display: inline-block;
    border:1px #ccc solid;
    width: 12px;
    height: 12px;
    margin: 0 15px;
    border-radius: 2px;
}
.square_on{
    background-color: #6490ff;
    border-color:#6490ff ;
}
.list-group-item{
    border: none;
    height: 56px;
    line-height: 56px;
    padding: 0 15px;
    position: relative;
}
.list-group-item>span.soo-add{
    position: absolute;
    right: 25px;
    top: 2px;
    color: #6490ff;
}
.selected-item{
    height: auto;
}
.list-child-item{
    height: 28px;
    line-height: 28px;
    margin-left: 30px;
    position: relative;
}
.list-child-item .child-count{
    position: absolute;
    right: 10px;
    top: 0px;
}
.panel-default > .panel-heading {
    color: #6490ff;
    background-color: #ffffff;
    position: relative;
    height: 90px;
}
.panel-default > .panel-heading .soo-setting{
    position: absolute;
    right: 15px;
    top: 27px;
    font-size: 26px;
}
.show-more{
    text-align: center;
    height: 84px;
    line-height: 84px;

}
.show-more .caret{
    color:#6666ff ;
}
.bottom-btn-group{
    height: 81px;
    background-color: #fff;
    line-height: 81px;

}
.bottom-btn-group .bottom-btn-left div,.bottom-btn-group .bottom-pagination div{
    float: left;
    margin: auto 5px;
    height: 20px;
    line-height: 20px;
    margin-top: 30px;
    text-align: center;

}
.light-gray{
    background-color: #f5f5f5;
}
.paging{
    color: #6490ff;
    border: 1px solid #6490ff;
}
.bottom-btn-left{
    float: left;
}
.bottom-pagination{
    float: right;
}
.bottom-btn-group{
    color: #666;
    padding-left: 5px;
    padding-right: 15px;
}
.page-button{
    width: 30px;
    height: 20px;
    border-radius: 1px;
}
.blue-active{
    background-color: #6490ff;
    color: #fff;
}

@media (max-width: 820px) {
    .bottom-btn-group{
        height: 120px;

    }
}
@media (max-width: 590px) {
    .bottom-btn-group{
        height: 165px;

    }
}
@media (min-width: 990px) and (max-width: 1070px){
    .bottom-btn-group{
        height: 120px;

    }
}
/*@media (max-width: 1360px){
    .right-bottom-content{
        width:980px;
    }
}
@media (max-width: 1340px) {
    .left-bottom-list{
        width: 24%;
    }
    .right-bottom-content{
        width: 74%;
    }
}*/
@media (max-width: 990px) {
    .left-bottom-list{
        width: 100%;
    }
    .right-bottom-content{
        width:100%;
        margin-left: 0;
    }
}
@media (max-width: 1290px) {
    .filter-div{
        width: 77%;
    }
}
@media (max-width: 802px) {
    .filter-div{
        width: 80%;
        height: auto;
    }
    .filter-lable{
        width: 100%;
        text-align: left;
    }
}


@media (max-width: 1135px) and (min-width: 903px) {
    .next-input{
        width: 29%;
    }
    .first-input{
        width: 50%;
    }
}
@media (max-width: 903px) {
    .first-lable{
        width: 100%;
        text-align: left;
    }
    .first-input{
        width: 70%;
    }
    .next-input{
        width: 30%;
    }
    .next-btn1{
        margin-left: 0;
    }
}
@media (max-width: 770px) {
    .first-input{
        width: 100%;
        padding-left: 0;
    }
    .first-lable{
        padding-left: 0;
    }
    .first-btn{
        width: 100%;
    }
    .first-btn button{
        float: right;

    }
    .next-btn1{
        padding-left: 0;
    }
    .next-input{
        width: 100%;
    }
    .next-btn3,.next-btn4{
        float: right;
    }
    .first-input,.next-input{
        margin-bottom: 7px;
    }
    .next-btn1{
        margin-bottom: 20px;
    }
    .ns-line-bottom {
        margin-bottom: 0;
    }
    .filter-lable,.filter-div{
        padding-left: 0;
        margin-left: 0;
    }


}
@media (max-width: 1340px) {
    .middle-btn-group{
        height: auto;
        line-height: 55px;
    }
    .middle-btn-group>div{
        height: auto;
        line-height: 55px;
        margin-left: 30px;
    }
}
/*@media (min-width: 1367px) {
    .left-bottom-list{
        width: 16.8%;
    }
    .right-bottom-content{
        width: 82%;
    }
}*/

/** 王小晴 **/



/** 李晶 **/
/*按钮系列*/
.btn-all{
    height: 26px;
    line-height: 30px;
    background: #e8f4ff;
    border-radius: 20px;
    color:#6b95ff;
    text-align: center;
    font-size: 12px;
}
.btn-foreign{
    background: #f5f5f5;
    color:#6e6e6e;
}
.mltSearch .btn{
    width: 120px;
    font-size: 12px;
    text-align: center;
}
.mltSearch  .btn-mlt{
    background:#bfbfbf;
    color:#fff;
    margin-bottom: 5px;
}
.mltSearch .btn-search{
    background:#7798ff;
    color:#fff;
    height: 45px;
}
/*近期检索历史*/
.searchHistory{
    width: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
.searchHistory .searchHistory-h1{
    margin-top: 48px;
    text-align: center;
}
.searchHistory .searchHistory-h1 .searchHistory-h1-cursor{
    cursor: pointer;
}
.searchHistory .searchHistory-h1 span{
    color: #6666ff;
    font-size: 18px;
    text-align: center;
}
.searchHistory .caret{
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-left: 5px;
}
.searchHistory .searchHistory-table{
    margin-top: 48px;
    margin-bottom: 70px;
}
.searchHistory .searchHistory-table table td,.searchHistory .searchHistory-table table th{
    height:54px;
    line-height: 54px;
    text-align: center;
}
.searchHistory-table span.soo{
    color:#ccccff;
    cursor: pointer;
}
/*近期检索历史结束*/
/*MLT专利公共区*/
.p-input{
    background: #eeeeee;
    height: 45px;
    line-height: 45px;
    color:#505050;
    margin-bottom: 10px;
}
.p-btn-add{
    height:45px;
    margin-bottom: 10px;
}
.p-font{
    height:45px;
    line-height: 45px;
    padding-left: 35px;
}
.p-font-l-35{
    padding-left: 0px;
}
.p-icon{
    margin-top:0px;
    font-size: 12px;
}
.p-top-icon{
    display: inline-block;
    width: 0;
    height:0;
    vertical-align: middle;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:4px dashed;
    margin-left: 18px;
}
.p-bottom-icon{
    margin-left: 18px;
}
.p-list-result-num{
    padding-left: 16px;
}
@media (max-width:768px ) {
    .p-font{
        padding-left: 0px;
    }
    .p-font-title{
        font-size: 14px;
    }
    .p-icon div{
        float: left;
    }
    .p-top-icon,.p-bottom-icon{
        margin-top: 7px;
        margin-right: 5px;
    }
    .p-top-icon{
        margin-left: 0px;
    }
    .p-bottom-icon{
        margin-left: 5px;
    }
    .p-list-result-num{
        padding-left: 0px;
    }
}
@media (min-width: 768px){
    .p-font-l-35{
        padding-left: 30px;
    }
    .p-icon{
        margin-top:25px;
    }
}
@media (min-width: 992px){
    .p-font-l-35{
        padding-left: 0px;
    }
    .p-icon{
        margin-top:0px;
    }
}
@media (min-width: 1200px){
    .p-font-l-35{
        padding-left: 0px;
    }
    .p-icon{
        margin-top:0px;
    }
}
.p-font-color a{
    color:#7299ff;
    text-decoration: underline;
}
.p-font-color{
    color:#7299ff;
}
.p-title{
    min-height: 88px;
    background: #dee7ff;
}
.p-radio{
    cursor: pointer;
}
.p-font-title{
    /*padding-top: 18px;*/
    font-weight: bold;
}
.p-btn-valid{
    background: #5be19c !important;
    margin-bottom: 10px;
}
.p-other-message{
    min-height: 42px;
    background: #f4f5f9;
    font-size: 12px;
}
.p-other-font{
    height: 27px;
    line-height: 27px;
    margin-top: 4px;
    display: inline-block;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.p-btn-highlight{
    margin-bottom: 10px;
}
.p-other-font-active{
    background:#dde2ef;
    text-align: center;
}
.p-search-list-title{
    background: #7798ff;
    min-height: 33px;
    line-height: 33px;
    color: #ffffff;
    padding-left: 22px;
    margin-bottom: 6px;
}
.p-search-list-title span{
    padding-right: 5px;
}
.p-list-ul{
    color:#6699ff;
    overflow-y: auto;
    font-size: 12px;
}
.p-list-ul li{
    min-height: 65px;
    line-height: 33px;
    border-bottom: 1px solid #f8f8f8;
}
.p-list-ul p{
    min-width: 70px;
    color:#666666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.p-list-ul input{
    margin-right: 10px;
}
.p-list-ul label{
    display: inline;
    font-weight: normal;
    min-width: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
input.p-check-all{
    margin-right: 10px;
}
.p-search-list{
    border-left:1px solid #f8f8f8;
    border-right:1px solid #f8f8f8;
}
.p-search-list-content{
    padding-left: 10px;
    font-size: 12px;
}
.p-search-list-content label{
    font-weight: normal;
}
.p-search-list-operate{
    border-bottom: 1px solid #f8f8f8;
    height: 50px;
}
.p-search-list-li-1{
    border-top:1px solid #f8f8f8;
}
.p-search-list-content input,.p-search-list-content label{
    cursor: pointer;
}
.p-other-message .soo{
    font-size: 18px;
}
/*MLT专利公共区结束*/


/** 李晶 **/


