@charset "utf-8";

/** 田会飞 **/
/**头部**/
ul{list-style:none;padding:0;margin:0;}
.p-0{padding:0 !important;}
.m-b-0{margin-bottom:0 !important;}
.m-t-10{margin-top:10px !important;}
.p-t-10{padding-top:10px !important;}
.w20{width:20%;}
.w50{width:50%;}
.w30{width:30%;}
.t-l{text-align: left !important;}
.table-h-center th{text-align: center !important;}

.navbar-brand{height: 90px;line-height:55px;}

.navbar-neusoo{background-color:#29355b;border-radius:0;color:#FFF;}
.navbar-neusoo.navbar-default .navbar-nav > li > a{color:#FFF;}
.navbar-neusoo.navbar-default .navbar-nav > li > a:hover{color:#60d2ed;}
.navbar-neusoo .navbar-neusoo-ul .active a{color:#60d2ed !important;background-color: transparent !important;}
.navbar-neusoo .navbar-toggle{margin-top:25px;}
@media (min-width: 768px){
    .nav-h-90{height:90px;line-height:55px !important;}
}

.navbar-neusoo .dropdown.open .dropdown-toggle{background-color: #10193a;}

.navbar-neusoo.navbar-default .navbar-nav > .open > a,
.navbar-neusoo.navbar-default .navbar-nav > .open > a:hover,
.navbar-neusoo.navbar-default .navbar-nav > .open > a:focus{background-color: #10193a;color:#00b3ee;}
@media (max-width: 767px) {
    .navbar-neusoo.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #dcdbdb;
    }
}
.navbar-neusoo .brand-logo{width:175px;background: url("../images/brand-logo.png") no-repeat center center;background-color:#e345a2;}
.ns-line-bottom{border-bottom:1px solid #EEE;padding:33px 10px 23px;margin-bottom:30px;}
.ns-line-bottom h4{color:#474747; }
.data-table-box{border:1px solid #d2d2d2;border-radius:5px 5px 0 0;}
.data-table-box .table-header{padding:33px 10px;background-color:#dee7ff;}
.data-table-ul{text-align: center;font-size: 0;}
.data-table-ul li{display:inline-block;text-align: center;font-size:12px;color:#666;padding:0 15px;}
.data-table-ul li span.soo span{/*margin-right: 11px;*/color:#666;padding-left:5px;}
.data-table-box .table{margin:0;}
.data-table-box span.soo-ok{color:#5be19c;}
.data-table-box span.soo-error{color:#e3456a;}
.data-table-box span.soo-circle{color:#f39800;}
.data-table-box .table thead th{color:#333;font-size: 12px;font-weight: normal;text-align: center}
.data-table-box tbody td{color:#666;text-align: center;}
.data-table-box .data-table-thead th{padding:26px 0;font-weight: bolder;font-size: 14px;}
.soo-ok.color-ok{color:#5be19c; }
.soo-error.color-error{color:#e3456a; }
.soo-circle.color-circle{color:#f39800; }
.data-scope-info{padding:23px 0;color:#666;}
.panel-heading.neu-tab{padding:0 !important;}
.neu-tab .neu-tab-box{background-color:#FFF;border-radius:4px;font-size:0;}
.neu-tab .neu-tab-box .neu-tab-li{padding:10px;display:inline-block;position:relative;}
.neu-tab .neu-tab-box .neu-tab-li{border-right:1px solid #EEE;}
.neu-tab .neu-tab-box .neu-tab-li a{color:#666;padding:10px 20px;display:block;font-size:14px;text-align: center;}

.neu-tab .neu-tab-box .neu-tab-li.active::after{display:block;content:" ";height:4px;position:absolute;left:0;right:0;bottom:0;background-color:#6b95ff;}
.neu-tab .neu-tab-box .neu-tab-li.active a{color:#6b95ff;}

/** 高级检索tab **/
.soo-tab-main { display:inline-block;min-width:66px;padding:7px 9px;margin:0 5px;margin-bottom:5px;cursor:pointer;border-radius:2px;color:#333;font-size:12px;background-color:#e8f4ff;text-align:center;}
.soo-tab-main.active{background-color:#6490ff;color:#FFF;}
.soo-tab-main.disable{cursor: auto;background-color: #f5f5f5;color:#6e6e6e;}
/** 田会飞 **/


/** 王小晴 **/





/** 王小晴 **/



/** 李晶 **/
/*按钮系列*/
.btn-all{
    height: 26px;
    line-height: 30px;
    background: #e8f4ff;
    border-radius: 20px;
    color:#6b95ff;
    text-align: center;
    font-size: 12px;
}
.btn-foreign{
    background: #f5f5f5;
    color:#6e6e6e;
}


/** 李晶 **/


