
@font-face {font-family: "soo";
  src: url('font/iconfont.eot?t=1493258980385'); /* IE9*/
  src: url('font/iconfont.eot?t=1493258980385#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/iconfont.woff?t=1493258980385') format('woff'), /* chrome, firefox */
  url('font/iconfont.ttf?t=1493258980385') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('font/iconfont.svg?t=1493258980385#soo') format('svg'); /* iOS 4.1- */
}

.soo {
  font-family:"soo" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.soo-delete:before { content: "\e602"; }

.soo-edit:before { content: "\e603"; }

.soo-add:before { content: "\e600"; }

.soo-pass:before { content: "\e61b"; }

.soo-search-max:before { content: "\e66c"; }

.soo-pdf:before { content: "\e63f"; }

.soo-search:before { content: "\e611"; }

.soo-next:before { content: "\e617"; }

.soo-search-min:before { content: "\e612"; }

.soo-jia:before { content: "\e622"; }

.soo-last-page:before { content: "\e65c"; }

.soo-account:before { content: "\e60c"; }

.soo-query:before { content: "\e6d8"; }

.soo-ok:before { content: "\e62e"; }

.soo-analyze:before { content: "\e619"; }

.soo-circle:before { content: "\e618"; }

.soo-baocun:before { content: "\e66b"; }

.soo-previous:before { content: "\e60d"; }

.soo-light:before { content: "\e8e4"; }

.soo-error:before { content: "\e6bc"; }

.soo-daoru:before { content: "\e601"; }

.soo-date:before { content: "\e604"; }

.soo-first-page:before { content: "\e69c"; }

.soo-see:before { content: "\e738"; }