.detailView-content{
    border-left:1px solid #f8f8f8;
    border-right:1px solid #f8f8f8;
    border-bottom:1px solid #f8f8f8;
    padding:20px;
}
/*左侧的导航*/
@media (max-width:990px) {
    .left-list{
        position: fixed;
        left :-250px;
        top: 0;
        z-index: 55;
        background-color: white;
        transform: translateX(-250px);
        -webkit-transition-duration: 1s;
    }
}
@media (min-width:990px){
    .left-list-hide{
        transform: translateX(0)!important;
    }
    .left-list-show{
        transform: translateX(0) !important;
    }
}
.left-list-show{
    transform: translateX(250px);
    -webkit-transition-duration: 1s;
}
.left-list-hide{
    transform: translateX(-250px);
}
/*左侧导航结束*/
.detailView-content{
    font-size: 12px;
}
.detailViewImg{
    margin-bottom: 10px;
    min-height: 303px;
    background: #dee7ff;
}
.detailView-view-title{
    font-weight: bold;
    margin-bottom: 24px;
    display: inline-block;
}
.detailView-view-color{
    color:#a2b7ff;
    text-decoration: underline !important;
}
.detailView-view-hidden{
    width: 100%;
    display: inline-block;
    margin-bottom: 14px;
}
@media (max-width: 768px){
    .detailView-view-hidden{
        width:100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 24px;
    }
}
@media (min-width: 1200px){
    .detailView-view-hidden{
        width:300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 24px;
    }
}
.detailView-content-title{
    color:#7fa1ff;
    margin-bottom: 26px;
    font-size: 12px;
    width: 100%;
}
.detailView-content-body{
    margin-bottom: 28px;
}
.detailView-content-body-img{
    max-width: 992px;
    overflow-x: auto;
}
.detailView-content-img{
    width: 1800px;
    height:230px;
    overflow: auto;
}
.detailView-content-img-1{
    width: 276px;
    height:206px;
    background: #dee7ff;
    float: left;
    margin-right: 10px;
}