.ns-line-bottom{
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
.literature-head{
    font-size: 14px;
    margin-bottom: 14px;
    padding-left: 5px;
    color: #494949;
}
.literature-head-f{
    display: inline-block;
    margin-right: 9px;
}
.btn-type{
    margin-bottom: 10px;
}
.m-r-40{
    margin-right: 35px;
}
.literature-table{
    /*border:1px solid #ddd;*/
    font-size: 12px;
    margin-bottom: 14px;
}
.literature-table-head{
    height:66px;
    line-height: 66px;
    background: #dee7ff;
    padding-left: 26px;
    font-weight: bold;
}
.literature-table table{
    width: 100%;
}
.literature-table table tr{
    height:66px;
}
.literature-table table tr td{
    padding-left: 26px;
    border:1px solid #dddddd;
    padding-right: 5px;
}
.literature-table table tr td:first-child{
    font-weight: bold;
}
.literature-color{
    color:#6b95ff;
}
.literature-table-active{
    background: #f7f7f7;
}
.literature-btn{
    padding-bottom: 70px;
}
.literature-btn button{
    display: inline-block;
}
.btn-search{
    margin-bottom: 5px !important;
}
.btn{
    height: 46px;
}
.literature-border-r{
    border-right:1px solid #dddddd;
    padding-top: 30px;

}
.literature-border-r table tr td:nth-of-type(2){
    border-right: none;
}
.literature-border-l table tr td:nth-of-type(1){
    border-left: none;
}
.literature-border-l{
    border-left:1px solid #dddddd;
    padding-top: 30px;
}
.literature-scroll{
    padding-top: 30px;
}
.literature-div input{
    margin-right: 14px;
}
.literature-div{
    margin-bottom: 15px;
}
.literature-head-f-r{
    float: right;
}
.literature-scroll li{
    display: inline-block;
    float: left;
    min-height: 93px;
    background: #dee7ff;
    margin-bottom: 8px;
    padding: 20px 10px;
    border-radius: 5px;
    width: 34px;
}
.literature-li-active{
    background: #6b95ff !important;
    color:#fff;
}
.literature-line{
    border-radius: 3px;
    width: 6px;
    height:86px;
    background: #6b95ff;
}
.literature-scroll table{
    width: 100%;
    text-align: center;
}
.literature-scroll table tr{
    height: 71px;
    background: #dee7ff;
    border-radius: 3px;
}
.literature-scroll table td{
    border: 1px solid #dddddd;
}
.literature-b-c{
    display: inline-block;
    border-radius: 3px;
    background: #eeeeee;
    padding-top: 11px;
    padding-left: 5px;
    padding-bottom: 11px;
    padding-right: 28px;
    margin-left: 5px;
}
.type-btn{
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.green{
    background-color: #5be19c;
    width: 36px;
}
.blue{
    background-color: #6b95ff;
    width: 55px;
}
.anpn-style input{
    width: 70%;
    border-radius: 3px;
    background-color: #eeeeee;
    border: none;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
}
.anpn-style{
    margin-top: 30px;
}
.middle-part>div:nth-of-type(1) ul li{
    float: right;
}
.middle-part>div:nth-of-type(1),.middle-part>div:nth-of-type(3){
    width: 28%;
}
.middle-part>div:nth-of-type(2){
    width: 44%;
    padding-left: 10px;
    padding-right: 10px;
}
.middle-part>div:nth-of-type(3) ul li{
    float: left;
}
.middle-part{
    color: #666;
}