.fullheight{
    height: 100%;
}

@media (max-width:990px) {
    .left-list{
        position: fixed;
        left :-150px;
        top: 0;
        z-index: 55;
        background-color: white;
        transform: translateX(-150px);
        -webkit-transition-duration: 1s;
    }
}
@media (min-width:990px){
    .left-list-hide{
        transform: translateX(0)!important;
    }
    .left-list-show{
        transform: translateX(0) !important;
    }
}
.left-list-show{
    transform: translateX(150px);
    -webkit-transition-duration: 1s;
}
.left-list-hide{
    transform: translateX(-150px);
}

.border_r{
    border-right: 1px solid #dcdcdc;
}
.Sys-control{
    padding-bottom: 20px;
}
.userchange-content .ns-line-bottom{
    margin-bottom: 0;
}
.dlt-padding {
    padding-left: 0;
    padding-right: 0;
}
/*基本布局结束*/
.add-padding{
    padding-top: 15px;
    color: #666666;
    padding-left: 60px;
    padding-right: 60px;
}
 .lg-margin{
    margin-bottom: 20px;
    height: 45px;
}
.userchange .lg-margin label{
   /* padding-top: 11px;*/
}
 .lg-margin input{
background-color: #eeeeee;
height: 45px;
     border-color: #eee;
}
@media (min-width: 768px) and (max-width: 992px){
    .lg-margin > div{
        margin-bottom: 20px;
    }
    .lg-margin{
        margin-bottom: 0;
    }
    .btn-margin{
        margin-bottom: 20px;
    }

}
@media (max-width: 768px){
    .add-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.lg-margin button{
    border-radius: 0;
    height: 45px;
    width: 100%;
}
.bg-yes{
    background-color: #7798ff;
    color: #fff;
    border: none;
}
.bg-yes:hover,.bg-no:hover{
    background-color: #7798ff;
    color: black;
}
.bg-no{
    background-color: #eee;
    border: none;
}
.useradd{
    display: none;
}
.inline-b{
    display: inline-block;
}
.test{    height: 45px;
    line-height: 45px;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
}