.fullheight{
    height: 100%;
}

@media (max-width:990px) {
    .left-list{
        position: fixed;
        left :-150px;
        top: 0;
        z-index: 55;
        background-color: white;
        transform: translateX(-150px);
        -webkit-transition-duration: 1s;
    }
}
@media (min-width:990px){
    .left-list-hide{
        transform: translateX(0)!important;
    }
    .left-list-show{
        transform: translateX(0) !important;
    }
}
.left-list-show{
    transform: translateX(150px);
    -webkit-transition-duration: 1s;
}
.left-list-hide{
    transform: translateX(-150px);
}

.border_r{
    border-right: 1px solid #dcdcdc;
}
.dlt-padding {
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    margin-bottom: 0;
}
/*基本布局结束*/
.lg-margin{
    margin-bottom: 20px;
    height: 45px;
}
.add-padding{
    padding-top: 15px;
    color: #666666;
    padding-left: 60px;
    padding-right: 60px;
}
.lg-margin input{
    background-color: #eeeeee;
    height: 45px;
}
@media (min-width: 768px) and (max-width: 992px){
    .lg-margin > div{
        margin-bottom: 20px;
    }
    .lg-margin{
        margin-bottom: 0;
    }
    .btn-margin{
        margin-bottom: 20px;
    }

}
@media (max-width: 768px){
    .add-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.lg-margin button{
    border-radius: 0;
    height: 45px;
    width: 100%;
}
.bg-yes{
    background-color: #7798ff;
}