.Sys-control{
padding-bottom: 20px;
}
.seeTab{
    width: 180px;
    display: inline-block;
}
.seeTab a{
    color: #474747;
}
.seeShow{
    display: inline-block;
}
.circle_off{
    display: inline-block;
    border-radius: 50%;
    border:2px #6490ff solid;
    width: 10px;
    height: 10px;

    margin: 0 15px;
}
.circle_on{
    background-color: #6490ff;
}
.square_off{
    display: inline-block;
    border:2px #6490ff solid;
    width: 10px;
    height: 10px;
    margin: 0 15px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #474747;
    background-color: #dee7ff;
}
.nav-pills > li > a {
     border-radius: 0;
}
.inputPosition{
    width: 232px;
    margin: 0 19px;

}
.btnStyle{
    width:144px;
}
.adduser{
    display: inline-block;
    width: auto;
}
.fullheight{
    height: 100%;
}
.border_r{
    border-right: 1px solid #dcdcdc;
}
.dlt-padding{
    padding-left: 0;
    padding-right: 0;
}
.add-padding{
    padding-top: 15px;
    color: #666666;
}
.add-padding table td,.add-padding table th{
    height: 60px;
    vertical-align: middle!important;
    text-align: center;
}
.panel-default > .panel-heading {
    color: #545454;
    background-color: #dee7ff;
    border-color: #dee7ff;
    height:75px;
    padding: 21px 15px;
}

.mg-left{
    margin-left: 15px!important;
}
.bd-left-off{
    border-left: 0;
}
.bd-right-off{
    border-right: 0;
}
.txt-cl{
    color: #666666;
}
.adduser .btn-default{
    color: white;
    background-color: #6490ff;
}
.three-btn span{
    color: #6490ff;

}
.inline-b{
    display: inline-block;
}
.new-mg-left{
    margin-left: -150px;
}
@media (max-width:990px) {
    .left-list{
        position: fixed;
        left :-150px;
        top: 0;
        z-index: 55;
        background-color: white;
        transform: translateX(-150px);
        -webkit-transition-duration: 1s;
    }
    /*.right-select{
        width: auto;
        min-width: 400px;
    }*/

}
@media (min-width:990px){
    .left-list-hide{
        transform: translateX(0)!important;
    }
    .left-list-show{
        transform: translateX(0) !important;
    }
}
.usersee-content{
    position: relative;
}
.left-list-show{
    transform: translateX(150px);
    -webkit-transition-duration: 1s;
}
.left-list-hide{
    transform: translateX(-150px);
}
.usersee-content .ns-line-bottom{
    margin-bottom: 0;
}
.role-manage,.log-manage,.permission-manage{
    display: none;
}
.add-padding table tbody a{
    color: #6490ff;
    text-decoration:underline
}
.success-color{
    color: #6490ff;
}
.log-manage table:last-child tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.log-manage table:last-child tr {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}
.panel-heading.role-name{
    color: #6490ff;
    font-size: 20px;
    background-color: white;
}
.seek{
    margin-bottom: 16px;
    width: 200px;
    margin: 0 auto 16px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #dee7ff;
    border-color: #dee7ff;
}
.title-bg-color{
    background-color: #f8f8f8!important;
}
.right-select .title-bg-color{
    height: 50px;
    vertical-align: middle;
    padding: 15px;
}
.permission-manage .adduser button{
    width: 120px;
    margin: 20px 60px;
}

.right-select .panel-body div:first-child{
    height: 427px;
    border-bottom: 1px #eeeeee solid;
    width: auto;
}
/*.permission-manage .fix-width{

    display: inline-block;
}
.right-select{
    display: inline-block;
}*/
.user-log-pagination .pull-left{
    height:28px;
    width: 30px;
    background-color: #dfe6ff;
    margin:10px 0 10px 10px;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
}
.user-log-pagination .pull-right{
    margin:10px 10px 10px 0;
}
.user-log-pagination .pull-left span{
    color: #6490ff;
}
.user-log-pagination div input{
    width: 30px;
}
.user-log-pagination{
    max-width: 270px;
    text-align: center;
    margin: 0 auto;
}