@charset "utf-8";

.file-detail thead tr th{padding:20px 10px;background-color:#dfe6ff;font-size:14px;color:#666;}
.file-detail tbody tr td{padding:20px 10px;font-size:14px;color:#666;}
.btn-tab{font-size:20px;display:inline-block;margin-right: 10px;}

@media(max-width: 1170px){
    .panel-heading{

    ;}
    .neu-tab-box{position:fixed;left:-200px;top:0;width:200px;overflow-y:auto;border:1px solid #dedede;height:100%;border-radius:0 !important; -webkit-transition: left 1s ease;
        -moz-transition: left 1s ease ;
        -o-transition: left 1s ease ;}
    .neu-tab .neu-tab-box .neu-tab-li{display:block;border-left:0;border-bottom:1px solid #dedede;}
}


.list-show{
    left:0;
    -webkit-transition: left 1s ease;
    -moz-transition: left 1s ease ;
    -o-transition: left 1s ease ;

}










