@charset "utf-8";

.main-body{margin:0 auto;max-width: 888px;padding:0 10px;}

.settings-box{border:1px solid #e5e5e5;border-bottom:none;}
.settings-box .settings-header{width:100%;background-color: #f7f7f7;padding:25px 0;}
.settings-box .settings-header h5{margin:0;color:#666;text-align: center;}
.settings-box .settings-body{}



















