/*头部header*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    padding-left: 10px;
    padding-right: 10px;
}
.home-container-top-conventionalSearch-extends ul li{
    list-style: none;
    padding-bottom:15px;
    line-height: 56px;
    display: inline-block;
    float: left;
    padding-left:12px;
}
.home-container-top-conventionalSearch-extends ul li input{
    display: block;
    float: left;
    margin-right: 10px;
    margin-top:23px;
}
@media (min-width: 1200px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right: 0px;
        padding-left:15px;
    }
    .home-container-top-conventionalSearch-extends{
        margin-top: -18px;
    }
    .home-container-top-conventionalSearch-extends ul li{
        line-height: 22px;
    }
    .home-container-top-conventionalSearch-extends ul li input{
        margin-top:4px;
    }
}
.home-container-top{
    background: url("../images/homebg.png") no-repeat;
    width: 100%;
    color:#fff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    background-size: 100% 100%;
}
.navbar-default.navbar-neusoo{border:0;}
.navbar-neusoo{background-color:transparent;}
.navbar-neusoo .brand-logo{
    background-color: transparent;
    background: url("../images/homeLogo.png") no-repeat center center;
}
/*头部header结束*/

/*检索区域*/
.home-container-top .home-container-top-conventionalSearch{
    margin-top: 200px;
}
.home-container-top .home-container-top-conventionalSearch .fields{
    padding: 5px;
}
.home-container-top .home-container-top-conventionalSearch .fields-active{
    color: #60d2ed !important;
}
.home-container-top-conventionalSearch-search{
    margin-top: 40px;
}
.home-container-top-conventionalSearch-searchInput{
    height:57px;
    background: #fff;
    font-size: 12px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 5px;
}
.home-container-top-conventionalSearch-searchInput input{
    border: none;
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 14px;
    width: 80%;
    color: #666666;
    outline: none;
}
.home-container-top-conventionalSearch-searchInput img{
    display: block;
    float: left;
    margin-top: 18px;
    margin-left: 12px;
}
.home-container-top-conventionalSearch-btn{
    height:56px;
    overflow: hidden;
    border-radius: 8px;
    font-size:18px;
    text-align: center;
    margin-bottom: 5px;
    color:#fff;
    line-height: 56px;
    background:linear-gradient(to right, #3366cc , #66ccff);
    cursor: pointer;
    width:100%;
}
.home-container-top-conventionalSearch-btn div{
    width: 100%;
    height:100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3366cc,endcolorstr=#66ccff,gradientType=1);
}
.home-container-top-conventionalSearch-Scope{
    font-size: 12px;
}
.home-container-top-conventionalSearch-Scope .btn-china{
    width:74px;
    height: 26px;
    background: transparent;
    border: 1px solid #999999;
    border-radius: 20px;
    color:#ccc;
}
.home-container-top-conventionalSearch-Scope .btn-style{
    margin-right: 10px;
}
.home-container-top-conventionalSearch-Scope .btn-china-active{
    background: #cc3399;
    border: 0;
    color:#fff;
}
.home-container-top-conventionalSearch-Scope-first{
    paddind:10px;
    margin-bottom:5px;
}
.home-container-top-conventionalSearch-Scope-second{
    paddind:10px;
    margin-bottom:5px;
}
.home-container-top-searchMode{
    margin-top: 144px;
}
.home-container-top-searchMode .home-container-top-searchMode-seniorSearch{
    border-radius: 50%;
    width:127px;
    height:127px;
    line-height: 127px;
    background: #ccc;
    color:#333366;
    font-size: 18px;
    text-align: center;
    opacity:0.7;
    margin-bottom: 100px;
    cursor: pointer;
}
.home-container-top-searchMode .searchMode-active{
    background:#366fc4;
    color:#66cccc;
}
/*近期检索历史*/
.home-container-bottom{
    width: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
.home-container-bottom .home-container-bottom-h1{
    margin-top: 48px;
    text-align: center;
}
.home-container-bottom .home-container-bottom-h1 .home-container-bottom-h1-cursor{
    cursor: pointer;
}
.home-container-bottom .home-container-bottom-h1 span{
    color: #6666ff;
    font-size: 18px;
    text-align: center;
}
.caret{
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-left: 5px;
}
.home-container-bottom .home-container-bottom-table{
    margin-top: 48px;
    margin-bottom: 70px;
}
.home-container-bottom .home-container-bottom-table table td,.home-container-bottom .home-container-bottom-table table th{
    height:54px;
    line-height: 54px;
    text-align: center;
}
/*近期检索历史结束*/